@import url('https://fonts.googleapis.com/css2?family=Inter&family=Pixelify+Sans:wght@700&family=Young+Serif&display=swap');

/*font-family: 'Inter', sans-serif;
font-family: 'Pixelify Sans', cursive;
font-family: 'Young Serif', serif;
*/

/* ################################################################ */


body {
    border: none;
    border-radius: 20px;
    background: rgb(204,202,202);
    background: linear-gradient(0deg, rgba(204,202,202,1) 0%, rgba(228,227,227,1) 20%, rgba(228,227,227,1) 80%, rgba(204,202,202,1) 100%);
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(53, 52, 52, 0.712);
    border: 2px solid transparent;
    border-radius: 10px;
}


.container {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container img {
    width: 400px;
}

@media screen and (max-width: 1000px) {
    .skills-list {
        font-size: smaller;
    }

    .skills-list img {
        scale: 0.7;
    }

}



/* ################################    Navbar     ################################ */

.navbar-title {
    height: 30px;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-family: 'Young Serif', serif;
    padding-top: 10px;
    text-shadow: 2px 2px 2px white;
}

/* ################################    Profile     ################################ */

.profile-data {
    width: 98%;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgb(204,202,202);
    background: linear-gradient(0deg, rgba(204,202,202,1) 0%, rgba(228,227,227,1) 20%, rgba(228,227,227,1) 80%, rgba(204,202,202,1) 100%);
}

.profile-title {
    width: 70%;
    letter-spacing: 2px;
    text-align: start;
}

.info-container {
    width: 60%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.info-container hr {
    width: 100%;
}

.profile-data img {
    width: 350px;
    border: none;
    border-radius: 20%;
    box-shadow: 5px 5px 3px 2px rgba(116, 115, 115, 0.178);
}

.info-container p {
    margin: 1%;
    text-align: justify;
}

@media screen and (max-width: 1000px) {
    .info-container {
        height: max-content;
    }

    .profile-data img {
        width: 200px;

    }

}


/* ################################    Skills     ################################ */

.skillset {
    width: 65%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.skills h2 {
    width: 100%;
    text-align: center;
}

.skills-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills-list ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.skills-list ul li {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.skills-list ul li img {
    width: 50px;
}

.skills-list ul li div {
    display: flex;
}


.skills-title {
    width: 100%;
    text-align: center;
}
/* ################################    Education & Work     ################################ */

.education-work-data {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: start;
    margin-top: 2%;
}

.education {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.languages {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.languages p {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: 1%;
}

.work {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.education  p {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: 2%;
}

.work p {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: 2%;
}

/* ################################    Projects     ################################ */

.projects {
    background-color: rgb(44, 43, 43);
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 20px;
    padding-top: 20px;
    gap: 20px;
    padding-bottom: 3%;
}

.projects h1 {
    font-family: 'Young Serif', georgia;
    letter-spacing: 3px;
    text-decoration: underline;
    text-shadow: 2px 1px 1px black;
}

.project {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    border: none;
    border-radius: 10px;
    background-color: rgba(58, 57, 57, 0.719);
    margin: 0%;
    padding: 10px;
    box-shadow: 2px 2px 2px rgb(32, 32, 32);
}

.project h3 {
    text-align: center;
    width: 100%;
}

.project img {
    width: 400px;
    cursor: pointer;
    transition: 500ms all ease-in;
    border: none;
    border-radius: 10px;
}
.project img:hover{
    scale: 1.5;
}

.project-images-data {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2%;
}

.project-images-data ul {
    width: 45%;
    list-style: none;
}

.project-images-data ul li {
    margin-top: 10px;
}

.project-images-data p {
    width: 55%;
    text-align: justify;
}

.paragraphs {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.paragraphs p {
    width: 90%;
}

.project-images-data p a {
    color: rgb(170, 141, 141);
    font-size: x-large;
    text-decoration: underline;
    font-family: 'Pixelify Sans', cursive;
}

@media screen and (max-width: 1700px) {
    .project {
        width: 90%;
    }
}

@media screen and (max-width: 1200px) {
    .project img {
        width: 200px;
    }
}

/* ################################    Footer     ################################ */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.footer a {
    cursor: pointer;
}

.footer img {
    width: 40px;
}