@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: white;
    --secondary-color: #d6d6d6;
    --yellowish-color: #E6C333;
    --red-color: #BA1200;
    --blue-color: #4C86A8;

    --normal-font: "Roboto", sans-serif;
    --slab-font: "Roboto Serif", serif;
    --container-shadow: 2px 5px 10px 5px rgb(0, 0, 0, 0.1);

    --text-primary-color: white;
    --text-secondary-color: black;
}

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.body {
    scroll-behavior: smooth;
    transition: 1s all ease;
    background-color: var(--secondary-color);
}
.jump-row {
    transition: 1s ease;
}

.container {
    background-color: var(--secondary-color);
    background-position: center;
    background-size: cover;
    height: max-content;
    padding: 30px 10px;
}
/* ###################################################################### */
/* #######################          Header        ####################### */
/* ###################################################################### */

.header {
    background-color: var(--secondary-color);
    margin: 40px;
    overflow: hidden;
    box-shadow: var(--container-shadow);
    position: relative;

    .navbar {
        position: absolute;
        top: 20px;
        border-radius: 20px;
        padding: 15px 15px;
        font-size: larger;
        .container-fluid {
            background-color: var(--yellowish-color);
            border-radius: 50px;
            padding: 10px;
            box-shadow: var(--container-shadow);
        }

        .navbar-nav {
            gap: 20px;
            padding: 5px 30px;
        }

        .nav-item {
            padding: 0px 10px;
            cursor: pointer;
        }
    }

    .header-right {
        border: none;
        background-color: var(--secondary-color); 
    }

    .header-left {
        gap: 10px;
        background-color: white;
        font-family: var(--slab-font);
        font-weight: 700;
        padding: 155px 0px;

        .header-name {
            span {
                font-family: var(--slab-font);
                font-weight: 700;
                text-transform: uppercase;
            }
        }

        .header-paragraph {
            font-family: var(--normal-font);
            font-weight: 500;
            font-size: large;
        }

        .header-job {
            background-color: #BA1200;
            font-family: var(--slab-font);
            font-weight: 500;
            color: white;
            padding: 5px;
        }
        .header-button {
            background-color: var(--yellowish-color);
            font-weight: 500;
            transition: 0.6s all;
            border: none;
            border-radius: 20px;
            font-size: 14px;
            margin-bottom: 20px;
        }
        .header-button:hover {
            background-color: #e4e4e3;
        }
    }
}

@media (max-width: 1400px) {
    .header {
        .header-left {
            padding: 105px 0px;
        }
    }
}
@media (max-width: 1200px) {
    .header {
        .header-left {
            padding: 108px 0px;
            gap: 0px;

            .header-greeting {
                font-size: 24px;
            }
            .header-name {
                font-size: 24px;

                span {
                    font-size: 30px;
                }
            }
            .header-job {
                font-size: 18px;
            }
            .header-button {
                width: 70%;
                font-size: 14px;
                margin-bottom: 0px;
            }
        }
    }
}
@media (max-width: 1000px) {
    .header {
        flex-direction: column-reverse;
        height: fit-content;
        .header-left {
            width: 100%;
        }

        .header-right {
            width: 100%;
            height: 50%;
        }
    }
}
@media (max-width: 800px) {
    .header {

        .navbar {
            top: 10px;
            padding: 5px 5px;
            font-size: large;
            .container-fluid {
                padding: 5px;
            }
    
            .navbar-nav {
                gap: 10px;
                padding: 5px 20px;
            }
    
            .nav-item {
                padding: 0px 5px;
            }
        }
        .header-right {
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            .portrait-img {
                width: 7    0%;
                padding-top: 50px;
                background-color: white;
            }
        }

        .header-left {
            padding: 30px 0px;
        }
    }
}
@media (max-width: 470px) {
    .header {

        .navbar {
            padding: 2px 2px;
            .navbar-nav {
                gap: 5px;
                padding: 5px 5px;
            }
            .nav-item {
                padding: 0px 5px;
            }
        }

        .header-left {
            .header-name {
                font-size: 18px;

                span {
                    font-size: 22px;
                }
            }
        }
    }
}

/* ###################################################################### */
/* #######################        About Me        ####################### */
/* ###################################################################### */


.about-row {
    margin-top: 40px;
    margin-bottom: 40px;
}

.about-me-container {
    background-color: var(--primary-color);
    overflow: hidden;
    box-shadow: var(--container-shadow);
    position: relative;

    .about-me {
        height: max-content;
        .about-me-header {
            font-size: 50px;
            font-weight: 900;
            font-family: var(--normal-font);
            background-color: var(--blue-color);
            color: var(--text-primary-color);
            padding: 20px;
        }

        .about-me-details {
            padding: 10px 0px;
            font-family: var(--normal-font);
            font-weight: 500;

            .about-me-details-span-name {
                font-weight: 700;
                font-size: larger;
            }
            .about-me-details-span-job {
                font-weight: 700;
                color: var(--text-secondary-color);
            }
        }

        .about-me-footer {
            padding: 10px 0px;
            .about-me-footer-experiance {
                height: 300px;
                border: 1px solid black;
                background-color: #111111;
                font-family: var(--slab-font);
                color: var(--secondary-color);

                .num-programming {
                    color: var(--yellowish-color);
                    font-size: 40px;
                    font-weight: 900;
                }

                .text-programming {
                    font-size: 20px;
                    font-weight: 500;
                    padding-bottom: 20px;
                }
                .num-projects {
                    color: var(--yellowish-color);
                    font-size: 40px;
                    font-weight: 900;
                    padding-top: 20px;
                }

                .text-projects {
                    font-size: 20px;
                    font-weight: 500;
                }

                .about-me-footer-line-break {
                    width: 90%;
                    border: 1px solid var(--yellowish-color);
                }
            }

            .about-me-footer-best {
                font-family: var(--normal-font);
                font-weight: 500;
                height: 300px;
                .about-me-footer-best-header {
                    font-size: 20px;
                    font-family: var(--slab-font);
                    font-weight: 700;
                }
                .about-me-footer-best-problem, .about-me-footer-best-clean, .about-me-footer-best-communication {
                    font-weight: 500;
                    p {
                        padding-left: 10px;
                        justify-content: center;
                        align-items: center;
                    }
                    img {
                        width: 50px;
                    }
                }
            }
        }
    }

    .vertical-nav-container {
        background-color: var(--yellowish-color);
        height: 650px;
        position: relative;
    
        .circle-one, .circle-two {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: none;
            background-color: #111111;
        }
    
        .middle-line {
            height: 300px;
            width: 1px;
            border: 1px solid rgb(5, 5, 5);
            margin: 10px;
        }
    
        .vertical-nav {
            position: absolute;
            background-color: transparent;
            list-style: none;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            gap: 20px;
            font-family: "Roboto Slab", serif;
            font-weight: 500;
            cursor: pointer;
            transition: 0.3s all;
    
            :hover {
                color: #d6d6d6;
            }
    
            .vertical-nav-item {
                background-color: #E6C333;
                text-align: center;
                padding: 3px;
                margin: 20px 0px;
            }
        }
    }
}


@media (max-width: 1400px) {
    .about-me-container {
        .about-me {
            .about-me-header {
                font-size: 34px;
            }

            .about-me-details {
                .about-me-details-paragraph {
                    font-size: 14px;

                    .about-me-details-span-name, .about-me-details-span-job {
                        font-size: 18px;
                    }
                }
            }

            .about-me-footer {
                .about-me-footer-experiance {
                    .text-programming, .text-projects {
                        font-size: 16px;
                    }
                }
            }
        }
        .vertical-nav-container {
            margin: 0%;
            padding: 0%;
    
            .vertical-nav {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                padding: 0%;
                margin: 5px;
    
                .vertical-nav-item {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 3px;
                    transition: 0.3s all;
                }
            }
        }
    }
}
@media (max-width: 1200px) {
    .about-me-container {
        .about-me {
            .about-me-footer {
                flex-direction: column;
                .about-me-footer-best {
                    width: 100%;
                    padding: 20px 0px;
                }
                .about-me-footer-experiance {
                    width: 100%;
                    padding-bottom: 20px;
                    .text-programming, .text-projects {
                        font-size: 12px;
                    }
                }
            }
            .about-me-footer-best {
                width: 50%;
                .about-me-footer-best-problem, .about-me-footer-best-clean, .about-me-footer-best-communication {
                    font-size: 14px;
                }
            }
        }
        .vertical-nav-container {
            height: 1000px;

            .vertical-nav {
                margin: 5px;
                padding: 5px;
                .vertical-nav-item {
                    padding: 5px;
                    margin: 0%;
                }
            }
        }
    }
}
@media (max-width: 1000px) {
    .about-row {
        .about-me-container {
            height: 1000px;
            .about-me {
                width: 90%;
            }
        }
    }
}
@media (max-width: 570px) {
    .about-me-container {
        height: max-content;
        padding: 0%;
        .about-me {
            .about-me-header {
                font-size: 20px;
            }

            .about-me-details {
                .about-me-details-paragraph {
                    font-size: 10px;

                    .about-me-details-span-name, .about-me-details-span-job {
                        text-align: start;
                        font-size: 12px;
                    }
                }
                
            }
            .about-me-footer {
                .about-me-footer-best {
                    .about-me-footer-best-problem, .about-me-footer-best-clean, .about-me-footer-best-communication {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

/* ###################################################################### */
/* #######################        Education       ####################### */
/* ###################################################################### */

.education-row {
    margin-top: 40px;
    margin-bottom: 40px;
}

.education-container {
    background-color: var(--primary-color);
    box-shadow: var(--container-shadow);
    .education {
        gap: 20px;
        .education-header {
            font-size: 50px;
            font-family: var(--normal-font);
            font-weight: 900;
            padding: 10px;
            background-color: var(--blue-color);
            color: var(--primary-color);
            padding: 20px;
        }
        .education-details {
            padding: 20px 10px;
            .item {
                .item-header {
                    font-size: 15px;
                    color: black;
                }

                .item-years, .item-town {
                    font-weight: 700;
                    color: #616060;
                }
            }
        }
        .courses {
            padding: 10px;
            .item {
                padding: 20px 10px;
                .item-header {
                    font-size: 15px;
                    color: black;
                }

                .item-years, .item-town {
                    font-weight: 700;
                    color: #616060;
                }
            }
        }
    }
    .vertical-nav-container {
        background-color: #E6C333;
        height: 550px;
        position: relative;
    
        .circle-one, .circle-two {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: none;
            background-color: #111111;
        }
    
        .middle-line {
            height: 300px;
            width: 1px;
            border: 1px solid rgb(5, 5, 5);
            margin: 10px;
        }
    
        .vertical-nav {
            position: absolute;
            background-color: transparent;
            list-style: none;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            gap: 20px;
            font-family: "Roboto Slab", serif;
            font-weight: 500;
            cursor: pointer;
            transition: 0.3s all;
            list-style: none;
    
            :hover {
                color: #d6d6d6;
            }
    
            .vertical-nav-item {
                background-color: #E6C333;
                text-align: center;
                padding: 3px;
                margin: 20px 0px;
                transition: 0.3s all;
            }
        }
    }
}

@media (max-width: 1400px) {
    .education-container {
        .education {
            .education-header {
                font-size: 34px;
            }
        }
    }
}
@media (max-width: 1200px) {
    .education-container {
        .education {
            .education-details {
                .item {
                    .item-header {
                        font-size: 16px;
                    }
                    .item-years {
                        font-size: 14px;
                    }
                    .item-town {
                        font-size: 14px;
                    }
                }
            }
            .courses {
                .item {
                    .item-header {
                        font-size: 15px;
                    }
                    .item-years {
                        font-size: 14px;
                    }
                    .item-town {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
@media (max-width: 1000px) {
    .education-container {
        .education {
            width: 90%;
            height: 500px;
            .education-details {
                .item {
                    .item-header {
                        font-size: 14px;
                    }
                    .item-years {
                        font-size: 13px;
                    }
                    .item-town {
                        font-size: 13px;
                    }
                }
            }
            .courses {
                .item {
                    .item-header {
                        font-size: 13px;
                    }
                    .item-years {
                        font-size: 12px;
                    }
                    .item-town {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}
@media (max-width: 770px) {
    .education-container {
        .education {
            padding: 30px;
            height: 700px;
            gap: 0px;
            .education-header {
                font-size: 22px;
            }
            .education-details {
                flex-direction: column;
                .item {
                    width: 90%;
                    text-align: center;
                    .item-header {
                        font-size: 14px;
                    }
                    .item-years {
                        font-size: 13px;
                    }
                    .item-town {
                        font-size: 13px;
                    }
                }
            }
            .courses {
                padding: 0%;
                flex-direction: column;
                .item {
                    width: 90%;
                    text-align: center;
                    .item-header {
                        font-size: 14px;
                    }
                    .item-years {
                        font-size: 13px;
                    }
                    .item-town {
                        font-size: 13px;
                    }
                }
            }
        }
        .vertical-nav-container {
            height: 700px;
        }
    }
}

/* ###################################################################### */
/* #######################        Skills          ####################### */
/* ###################################################################### */


.skills-row {
    margin-top: 40px;
    margin-bottom: 40px;
}

.skills-container {
    background-color: white;
    box-shadow: 4px 5px 10px 1px rgba(0, 0, 0, 0.1);
    .skills {
        gap: 20px;
        position: relative;
        .skills-header {
            font-family: var(--normal-font);
            font-size: 50px;
            font-weight: 900;
            padding: 20px;
            background-color: var(--blue-color);
            color: white;
        }

        .skills-details {
            gap: 10px;
            font-family: var(--slab-font);
            font-weight: 500;
            .backend {
                margin-top: 20px;
                position: relative;
                height: 300px;
                width: 180px;
                padding: 20px 10px;

                .backend-header {
                    font-size: 24px;
                }

                .backend-image {
                    position: absolute;
                    width: 90px;
                    height: 80px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

                .dive-deep-button {
                    background-color: #E6C333;
                    font-weight: 500;
                    transition: 0.6s all;
                    border: none;
                    border-radius: 20px;
                    font-size: 14px;
                }
                .dive-deep-button:hover {
                    background-color: #e4e4e3;
                }
            }

            .frontend {
                margin-top: 20px;
                position: relative;
                height: 300px;
                width: 180px;
                padding: 20px 10px;
                .frontend-header {
                    font-size: 24px;
                }
                .frontend-image {
                    position: absolute;
                    width: 90px;
                    height: 80px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                .dive-deep-button {
                    background-color: #E6C333;
                    font-weight: 500;
                    transition: 0.6s all;
                    border: none;
                    font-size: 14px;
                    border-radius: 20px;
                }
                .dive-deep-button:hover {
                    background-color: #e4e4e3;
                }
            }
            
            .aditional {
                margin-top: 20px;
                position: relative;
                height: 300px;
                width: 180px;
                padding: 20px 10px;
                .additional-header {
                    font-size: 24px;
                }
                .aditional-image {
                    position: absolute;
                    width: 90px;
                    height: 80px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                .dive-deep-button {
                    background-color: #E6C333;
                    font-weight: 500;
                    transition: 0.6s all;
                    border: none;
                    border-radius: 20px;
                    font-size: 14px;
                }
                .dive-deep-button:hover {
                    background-color: #e4e4e3;
                }
            }
        }
        .backend-div {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: transparent;
            z-index: 3;
        
            .backend-skills-container {
                background-color: var(--red-color);
                height: 500px;
                transition: 1s all ease;
                opacity: 0;
                visibility: hidden;
                font-family: var(--slab-font);
                font-weight: 500;
                position: relative;

                .backend-header {
                    color: white;
                    font-size: 36px;
                }


                .backend-close-button {
                    border-radius: 20px;
                    border: none;
                    background-color: #E6C333;
                    font-weight: 500;
                    transition: 0.6s all;
                }
                .backend-close-button:hover {
                    background-color: #e4e4e3;
                }

                .backend-div-details {
                    gap: 20px;
                    .php {
                        background-color: white;
                        height: 300px;
                        .php-icon {
                            width: 80px;
                            height: 80px;
                            padding-bottom: 10px;
                        }
                        .php-details {
                            list-style: none;
                            text-align: center;
                            padding: 0%;
                            font-family: var(--normal-font);
                            font-size: 14px;
                        }
                    }
                    .python {
                        background-color: white;
                        height: 300px;
                        .python-icon {
                            width: 80px;
                            height: 80px;
                            padding-bottom: 10px;
                        }
                        .python-details {
                            list-style: none;
                            text-align: center;
                            padding: 0%;
                            font-family: var(--normal-font);
                            font-size: 14px;
                        }
                    }
                    .sql {
                        background-color: white;
                        height: 300px;
                        .database-icon {
                            width: 80px;
                            height: 80px;
                            padding-bottom: 10px;
                        }
                        .mysql, .postgresql {
                            font-size: 14px;
                            font-family: var(--normal-font);
                        }
                    }
                }
            }
            .show {
                transition: 1s all;
                visibility: visible;
                opacity: 1;
            }
            
            .hide {
                transition: 1s all;
                visibility: hidden;
                opacity: 0;
            }
        }
        .frontend-div {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: transparent;
            z-index: 3;
        
            .frontend-skills-container {
                background-color: var(--red-color);
                height: 500px;
                transition: 1s all ease;
                opacity: 0;
                visibility: hidden;
                font-family: var(--slab-font);
                font-weight: 500;
                position: relative;

                .frontend-header {
                    color: white;
                    font-size: 36px;
                }
                .frontend-close-button {
                    border-radius: 20px;
                    border: none;
                    background-color: #E6C333;
                    font-weight: 500;
                    transition: 0.6s all;
                }
                .frontend-close-button:hover {
                    background-color: #e4e4e3;
                }

                .frontend-div-details {
                    .upper-details {
                        gap: 20px;
                        .html, .js {
                            height: 80px;
                            width: 100px;
                            background-color: white;
                            border: none;
                            border-radius: 10px;
                            img {
                                width: 40px;
                            }
                        }
                        .css {
                            height: 80px;
                            width: 120px;
                            background-color: white;
                            border: none;
                            border-radius: 10px;
                            .css-icon {
                                width: 40px;
                            }
                            .bootstrap-icon, .sass-icon {
                                width: 25px;
                            }
                        }
                    }
                    .lower-details {
                        gap: 20px;
                        padding: 20px;
                        .react, .wordpress {
                            height: 80px;
                            width: 100px;
                            background-color: white;
                            border: none;
                            border-radius: 10px;
                            img {
                                width: 40px;
                            }
                        }
                    }

                }
            }
            .show {
                transition: 1s all;
                visibility: visible;
                opacity: 1;
            }
            
            .hide {
                transition: 1s all;
                visibility: hidden;
                opacity: 0;
            }
        }
        .additional-div {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: transparent;
            z-index: 3;
        
            .additional-skills-container {
                background-color: var(--red-color);
                height: 500px;
                transition: 1s all ease;
                opacity: 0;
                visibility: hidden;
                font-family: var(--slab-font);
                font-weight: 500;
                position: relative;

                .additional-header {
                    color: white;
                    font-size: 36px;
                }
                .additional-close-button {
                    border-radius: 20px;
                    border: none;
                    background-color: #E6C333;
                    font-weight: 500;
                    transition: 0.6s all;
                }
                .additional-close-button:hover {
                    background-color: #e4e4e3;
                }
                .additional-div-details {
                    .additional-skills-list {
                        list-style: none;
                        padding: 10px 0px;
                        margin: 0%;
                        color: black;
                        font-family: var(--normal-font);
                        gap: 5px;
                        li {
                            background-color: white;
                            padding: 10px 0px;
                            border: none;
                            border-radius: 10px;
                        }
                    }
                }
            }
            .show {
                transition: 1s all;
                visibility: visible;
                opacity: 1;
            }
            
            .hide {
                transition: 1s all;
                visibility: hidden;
                opacity: 0;
            }
        }

    }

    .vertical-nav-container {
        background-color: #E6C333;
        height: 550px;
        position: relative;
    
        .circle-one, .circle-two {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: none;
            background-color: #111111;
        }
    
        .middle-line {
            height: 300px;
            width: 1px;
            border: 1px solid rgb(5, 5, 5);
            margin: 10px;
        }
    
        .vertical-nav {
            position: absolute;
            background-color: transparent;
            list-style: none;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            gap: 20px;
            font-family: "Roboto Slab", serif;
            font-weight: 500;
            cursor: pointer;
            transition: 0.3s all;
            list-style: none;
    
            :hover {
                color: #d6d6d6;
            }
    
            .vertical-nav-item {
                background-color: #E6C333;
                text-align: center;
                padding: 3px;
                margin: 20px 0px;
                transition: 0.3s all;
            }
        }
    }
}

@media (max-width: 1400px) {
    .skills-row {
        .skills-container{
            .skills {
                .skills-header {
                    font-size: 34px;
                    padding: 20px;
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    .skills-container {
        .skills {
            gap: 10px;
            width: 100%;
            height: 500px;
            .skills-header {
                font-size: 22px;
                padding: 0%;
                margin-top: 20px;
                margin-bottom: 0px;
            }
            .backend-div {
                .backend-skills-container {
                    width: 100%;
                    .backend-header {
                        margin: 0%;
                        padding: 0%;
                    }
                    .backend-div-details {
                        padding: 0%;
                    }
                }  
            }
            .frontend-div {
                .frontend-skills-container {
                    width: 100%;
                    .frontend-header {
                        margin: 0%;
                        padding: 0%;
                    }
                    .frontend-div-details {
                        padding: 0%;
                    }
                }  
            }
            .additional-div {
                .additional-skills-container {
                    width: 100%;
                    .additional-header {
                        margin: 0%;
                        padding: 0%;
                    }
                    .additional-div-details {
                        padding: 0%;
                        .additional-skills-list {
                            gap: 20px;
                        }
                    }
                }  
            }
            .skills-details {
                gap: 5px;
                .backend {
                    height: 260px;
                    .backend-header {
                        font-size: 22px;
                    }
                    .backend-image {
                        width: 100px;
                        height: 100px;
                    }
    
                    .dive-deep-button {
                        font-size: 12px;
                        padding: 5px;
                        margin: 0%;
                    }
                }
    
                .frontend {
                    height: 260px;
                    .frontend-header {
                        font-size: 22px;
                    }
                    .frontend-image {
                        width: 100px;
                        height: 100px;
                    }
                    .dive-deep-button {
                        font-size: 12px;
                        padding: 5px;
                        margin: 0%;
                    }
                }
                
                .aditional {
                    height: 260px;
                    .aditional-header {
                        font-size: 22px;
                    }
                    .aditional-image {
                        width: 100px;
                        height: 90px;
                    }
                    .dive-deep-button {
                        font-size: 12px;
                        padding: 5px;
                        margin: 0%;
                    }
                }
            }
    
        }
    }
}
@media (max-width: 770px) {
    .skills-row {
        .skills-container {
            .skills {
                min-height: 800px;
                justify-content: start;
                align-items: center;
                padding-bottom: 26px;
                .skills-header {
                    font-size: 22px;
                    padding: 20px 0px;
                    margin-top: 20px;
                    margin-bottom: 0px;
                }   
                .backend-div {
                    .backend-skills-container {
                        height: max-content;
                        padding: 40px 0px;
                        .backend-header {
                            font-size: 20px;
                            padding: 20px 0px;
                        }
                        .backend-div-details {
                            flex-direction: column;
                            .php, .python, .sql {
                                width: 90%;
                            }
                            .sql {
                                height: 150px;
                            }
                            .php {
                                height: 230px;
                            }
                            .python {
                                height: 260px;
                            }
                        }
                        .backend-close-button {
                            margin: 20px 0px;
                            font-size: 14px;
                        }
                    }  
                }
                .frontend-div {
                    .frontend-skills-container {
                        height: 800px;
                        .frontend-header {
                            padding: 20px 0px;
                            font-size: 24px;
                        }
                        .frontend-div-details {
                            .upper-details {
                                flex-direction: column;
                                .html, .css, .js {
                                    width: 200px;
                                }
                            }
                            .lower-details {
                                flex-direction: column;
                                .react, .wordpress {
                                    width: 200px;
                                }
                            }
                        }
                        .frontend-close-button {
                            font-size: 14px;
                        }
                    }  
                }
                .additional-div {
                    .additional-skills-container {
                        height: 800px;
                        .additional-header {
                            padding: 20px 0px;
                            font-size: 24px;
                        }
                        .additional-div-details {
                            flex-direction: column;
                        }
                        .additional-close-button {
                            font-size: 14px;
                        }
                    }  
                }
                .skills-details {
                    flex-direction: column;
                    .backend {
                        width: 90%;
                        height: 200px;
                        padding: 10px;
                        .backend-header {
                            font-size: 22px;
                        }
                        .dive-deep-button {
                            width: 70%;
                        }
                    }    
                    .frontend {
                        width: 90%;
                        height: 200px;
                        padding: 10px;
                        .dive-deep-button {
                            width: 70%;
                        }
                    }       
                    .aditional {
                        width: 90%;
                        height: 200px;
                        padding: 10px;
                        .dive-deep-button {
                            width: 70%;
                        }
                    }
                }  
            }
        }
    }
}

/* ###################################################################### */
/* #######################         Projects       ####################### */
/* ###################################################################### */


.projects-row {
    margin-top: 40px;
    margin-bottom: 40px;
}

.projects-container {
    background-color: white;
    height: 820px;
    box-shadow: 4px 5px 10px 1px rgba(0, 0, 0, 0.1);
    .projects {
        gap: 20px;
        position: relative;
        .projects-header {
            font-family: var(--normal-font);
            font-size: 50px;
            font-weight: 900;
            padding: 20px;
            background-color: var(--blue-color);
            color: white;
        }
        .projects-details {
            gap: 10px;
            font-family: var(--slab-font);
            font-weight: 700;
            transition: 0.5s all ease;
            .project-container {
                gap: 10px;
                .project-item {
                    height: 250px;
                    width: 200px;
                    border: 1px solid var(--secondary-color);
                    .project-header {
                        font-size: 16px;
                    }
                    img {
                        width: 60px;
                    }
                    p {
                        font-size: 12px;
                        font-weight: 500;
                    }
                    .project-btn {
                        background-color: var(--yellowish-color);
                        margin-bottom: 10px;
                        border: none;
                        border-radius: 20px;
                        font-size: 12px;
                        font-weight: 700;
                    }
                    .project-btn:hover {
                        background-color: #e4e4e3;
                    }
                    a {
                        font-size: 14px;
                        font-weight: 700;
                        cursor: pointer;
                        color: black;
                    }
                }
            }
        }

        .duvar-div, .tournament-div, .gmail-div, .travian-div, .ecommerce-div, .todo-div {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgba(0, 0, 0, 0.3);
            border: none;
            border-radius: 20px;
            z-index: 3;
            width: 100%;
            .inside-project-container {
                background-color: var(--red-color);
                transition: 1s all ease;
                opacity: 0;
                height: 820px;
                visibility: hidden;
                font-family: var(--slab-font);
                font-weight: 500;
                position: relative;
                border: none;
                box-shadow: 2px 2px 2px rgb(80, 80, 80);
                .inside-project-header {
                    color: white;
                    font-size: 36px;
                }
                .inside-project-div-details {
                    h5 {
                        font-size: 20px;
                        color: white;
                    }
                    p {
                        font-size: 14px;
                        color: var(--secondary-color);
                    }
                }
                .inside-project-close-button {
                    border: none;
                    border-radius: 20px;
                    background-color: var(--yellowish-color);
                    font-weight: 700;
                    transition: 0.6s all;
                }
                .inside-project-close-button:hover {
                    background-color: #e4e4e3;
                }
            }
            .show {
                transition: 1s all;
                visibility: visible;
                opacity: 1;
            }
            
            .hide {
                transition: 1s all;
                visibility: hidden;
                opacity: 0;
            }
        }
    }
    .vertical-nav-container {
        background-color: #E6C333;
        height: 820px;
        position: relative;
    
        .circle-one, .circle-two {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: none;
            background-color: #111111;
        }
    
        .middle-line {
            height: 300px;
            width: 1px;
            border: 1px solid rgb(5, 5, 5);
            margin: 10px;
        }
    
        .vertical-nav {
            position: absolute;
            background-color: transparent;
            list-style: none;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            gap: 20px;
            font-family: "Roboto Slab", serif;
            font-weight: 500;
            cursor: pointer;
            transition: 0.3s all;
            list-style: none;
    
            :hover {
                color: #d6d6d6;
            }
    
            .vertical-nav-item {
                background-color: #E6C333;
                text-align: center;
                padding: 3px;
                margin: 20px 0px;
                transition: 0.3s all;
            }
        }
    }
}
.blur {
   filter: blur(10px);
   pointer-events: none;
   user-select: none;
}

@media (max-width: 1400px) {
    .projects-container {
        .projects {
            .projects-header {
                font-size: 34px;
                padding: 20px;
            }
        }
    }
}  
@media (max-width: 1200px) {
    .projects-row {
        .projects-container {
            .projects {
                .duvar-div, .travian-div, .gmail-div, .ecommerce-div, .travian-div, .todo-div {
                    .inside-project-container {
                        .inside-project-div-details {
                            p {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}  
@media (max-width: 1000px) {
    .projects-container {
        height: 800px;
        padding: 20px 0px;
        .projects {
            width: 100%;
            .projects-details {
                .project-container {
                    .project-item {
                        width: 100%;
                        height: 300px;
                        .project-header {
                            font-size: 14px;
                        }
                        a {
                            font-size: 12px;
                        }
                        p {
                            font-size: 10px;
                        }
                        button {
                            width: 80%;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 770px) {
    .projects-row {
        .projects-container {
            height: 1400px;
            .projects {
                .duvar-div, .travian-div, .gmail-div, .ecommerce-div, .travian-div, .todo-div {
                    height: 900px;
                    .inside-project-container {
                        height: 900px;
                    }
                }
                .projects-header {
                    font-size: 22px;
                }
                .projects-details {
                    .project-container {
                        flex-direction: column;
                        .project-item {
                            width: 90%;
                            height: 200px;
                            button {
                                width: 60%;
                            }
                        }
                    }
                }
            }
        }
    }
}



/* ###################################################################### */
/* #######################       Motivational     ####################### */
/* ###################################################################### */

.end-row {
    margin-top: 40px;
    margin-bottom: 40px;
}

.contact-container {
    background-color: #fdfdfd;
    height: 200px;
    box-shadow: 4px 5px 10px 1px rgba(0, 0, 0, 0.1);
    .contact-details {
        margin: 0%;
        background-color: white;
        padding: 20px 0px;
        .contact-header {
            color: black;
            font-family: var(--slab-font);
            font-weight: 500;
            font-size: 26px;
            margin: 0%;
        }
        .icons-left {
            .icons-contact {
                .email{
                    border: 1px solid var(--secondary-color);
                    border-radius: 5px;
                    cursor: pointer;
                    padding: 10px;
                    text-decoration: none;
                    color: black;
                    h5 {
                        font-size: 18px;
                        font-family: var(--normal-font);
                    }
                    .email-icon {
                        color: black;
                        font-size: 18px;
                    }
                }
                .email:hover {
                    box-shadow: 1px 1px 4px var(--blue-color);
                    h5 {
                        color: var(--blue-color);
                    }
                    .email-icon {
                        color: var(--blue-color);
                    }
                }
                .linkedin {
                    border: 1px solid var(--secondary-color);
                    border-radius: 5px;
                    cursor: pointer;
                    padding: 10px;
                    text-decoration: none;
                    color: black;
                    h5 {
                        font-size: 18px;
                        font-family: var(--normal-font);
                    }
                    .linkedin-icon {
                        color: black;
                        font-size: 18px;
                    }
                }
                .linkedin:hover {
                    box-shadow: 1px 1px 4px var(--blue-color);
                    h5 {
                        color: var(--blue-color);
                    }
                    .linkedin-icon {
                        color: var(--blue-color);
                    }
                }
            }
        }
        .icons-right {
            .cv {
                border: 1px solid var(--secondary-color);
                border-radius: 5px;
                cursor: pointer;
                padding: 10px;
                text-decoration: none;
                color: black;
                h5 {
                    font-size: 18px;
                    font-family: var(--normal-font);
                }
                .cv-icon {
                    width: 18px;
                }
            }
            .cv:hover {
                box-shadow: 1px 1px 4px var(--blue-color);
                h5 {
                    color: var(--blue-color);
                }
            }
            .github {
                border: 1px solid var(--secondary-color);
                border-radius: 5px;
                cursor: pointer;
                padding: 10px;
                text-decoration: none;
                color: black;
                h5 {
                    font-size: 18px;
                    font-family: var(--normal-font);
                }
                .github-icon {
                    color: black;
                    width: 18px;
                }
            }
            .github:hover {
                box-shadow: 1px 1px 4px var(--blue-color);
                h5 {
                    color: var(--blue-color);
                }
                .github-icon {
                    color: var(--blue-color);
                }
            }
        }
    }
}
@media (max-width: 1200px) {
    .end-row{
        .contact-container{
            .contact-details {
                .icons-left {
                    .icons-contact {
                        .email, .linkedin {
                            height: 80px;
                        }
                    }
                }
                .icons-right {
                    .icons-info {
                        .cv, .github {
                            height: 80px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    .end-row{
        flex-direction: column;
        .contact-container{
            width: 85%;
            padding: 0%;
            margin: 0%;
            .contact-details {
                margin: 0%;
                .icons-left {
                    .icons-contact {
                        .email, .linkedin {
                            height: 80px;
                            h5 {
                                font-size: 12px;
                            }
                        }
                    }
                }
                .icons-right {
                    .icons-info {
                        .cv, .github {
                            height: 80px;
                            h5 {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 770px) {
    .end-row{
        .contact-container{
            width: 85%;
            padding: 0%;
            margin: 0%;
            height: 330px;
            .contact-details {
                flex-direction: column;
                width: 100%;
                .icons-left {
                    width: 90%;
                    .icons-contact {
                        .email, .linkedin {
                            height: 80px;
                            h5 {
                                font-size: 12px;
                            }
                        }
                    }
                }
                .icons-right {
                    width: 90%;
                    .icons-info {
                        .cv, .github {
                            height: 80px;
                            h5 {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* dodatno */
.active {
    color: black;
    text-shadow: black;
    font-weight: 700;
}

.row.show-div {
    transform: translateX(0);
    opacity: 1;
}

.row {
    opacity: 0;
    transform: translateX(100px);
    transition: 350ms;
}

/* corousel */
.carousel {
    height: 300px;
    width: 500px;
    background-color: white;
    padding: 20px;
    border: none;
    border-radius: 20px;

    .img-slider {
        list-style: none;
        padding: 0%;
        margin: 0%;

        .slide {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                display: block;
                border: none;
                border-radius: 20px;
                padding: 10px;
            }
        }

        .slide[data-active] {
            opacity: 1;
        }
    }

    .carousel-button {
        position: absolute;
        border: none;
        background: none;
        font-size: 40px;
        z-index: 2;
        top: 50%;
        color: #b6b5b5;
        transform: translateY(-50%);
        cursor: pointer;
        border-radius: 0.25rem;
        padding: 5px;
        background-color: rgba(0,0,0, .1);
    }

    .carousel-button:hover {
        color: white;
        background-color: rgba(0,0,0, .3);
    }
    .carousel-button:focus {
        outline: 1px solid black;
        color: white;
        background-color: rgba(0,0,0, .3);
    }
    
    .carousel-button.prev {
        left: 1rem;
    }
    .carousel-button.next {
        right: 1rem;
    }
    
}

@media (max-width: 770px) {
    .carousel {
        height: 180px;
        width: 300px;
        padding: 10px;
        border-radius: 10px;
        .img-slider {
            .slide {
                img {
                    border-radius: 5px;
                    padding: 5px;
                }
            }
        }
    }
}
@media (max-width: 400px) {
    .carousel {
        height: 150px;
        width: 250px;
    }
}